.recommendation-container {
    padding: 40px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.recommendation-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.recommendation-container p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.probability-banner {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #f0f8ff;
    border-left: 6px solid #007acc;
    font-size: 18px;
    color: #003f63;
    border-radius: 8px;
    width: fit-content;
  }
  