/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(150deg,#ff8800, #240f53, #240f53, #6e8efb);  */
  background: black; 
  background-image: url('./assets/bg.png');
}

a {
  text-decoration: none;
  color: inherit;
}

/* Main content area */
.main-content {
  padding-top: 80px; /* To account for the fixed header */
  min-height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.welcome-message {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.welcome-message h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.5em;
  margin-bottom: 1rem;
  color: #a09d9d;
}

.welcome-message span {
  color: #daaf23;
  font-size: 2.5rem;
}

.welcome-message p {
  font-size: 1.2em;
  overflow: hidden; /* Hide overflow */
  border-right: .15em solid #daaf23; 
  animation: 
  typing 3.5s steps(20, end),
  blink-caret .75s step-end infinite;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The cursor blink effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #daaf23; }
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 80%;
  max-width: 1200px;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .grid-container {
    margin-top: 3rem;
    grid-template-columns: 1fr; /* One column on smaller screens */
  }
}

.box {
  height: 200px;
  border-radius: 15px;
  border: 2px solid #daaf23;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.5em;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box; /* Include padding in width calculation */
}

.box h2 {
  font-size: 2rem;
  margin: 0;
  transition: all 0.3s ease;
  z-index: 2;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  background: linear-gradient(#ff3f02, #daaf23);
  border: #ff3f02;
}

.box:hover h2 {
  transform: translateY(-10px);
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .grid-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .box {
    width: 45%; /* Two boxes per row on medium screens */
    min-width: 200px;
  }
}

@media (max-width: 768px) {
  .box {
    width: 90%; /* Full width on small screens */
    height: 150px;
  }
}