.about-container {
  padding: 60px 20px;
  padding-top: 30px;
  text-align: center;
  color: white;
  background: linear-gradient(145deg, #1a1a1a, #0e0e0e);
  border-radius: 20px;
  max-width: 1100px;
  margin: auto;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  margin-top: 10rem;
}

.about-header h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #ffcc00;
}

.about-header p {
  font-size: 1.2rem;
  color: #c2c2c2;
  margin-top: 10px;
}

.highlight {
  background: linear-gradient(to right, #ff3f02, #daaf23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-intro, .about-mission p {
  max-width: 800px;
  margin: 20px auto;
  font-size: 1rem;
  color: #ddd;
  line-height: 1.8;
}

.about-mission h2,
.about-features h2 {
  font-size: 2rem;
  color: #daaf23;
  margin-top: 3rem;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.feature-box {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  width: 250px;
  padding: 20px;
  box-shadow: 0 0 12px rgba(255, 204, 0, 0.1);
  transition: all 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 10px #ff3f02, 0 0 10px #daaf23;
}

.feature-icon {
  font-size: 2rem;
  color: #ffcc00;
  margin-bottom: 10px;
}

.feature-box h3 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.feature-box p {
  font-size: 0.95rem;
  color: #cccccc;
}

.about-footer {
  margin-top: 4rem;
  font-size: 0.9rem;
  color: #888;
}

/*-----------------------------------------------------*/
.about-team {
  margin-top: 4rem;
}

.about-team h2 {
  font-size: 2rem;
  color: #00aeff;
  margin-bottom: 2rem;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  justify-items: center;
  margin: 0 auto;
  max-width: 1000px;
}

.team-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color: white;
  box-shadow: 0 0 20px rgba(255, 204, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
  transform: scale(1.05) translateY(-10px);
  box-shadow: 0 0 30px rgb(0, 174, 238);
}

.team-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
  border: 2px solid #daaf23;
}

.team-card h4 {
  margin: 10px 0 5px;
  font-size: 1.1rem;
  color: #ffcc00;
}

.team-card p {
  font-size: 0.95rem;
  color: #ccc;
}